body {
    padding: 0;
    margin: 0;
     height: 100%;
}
html{
 height: 100%;
}
main{
    height: 100%;
}

.col {
    float: left;
    width: 33.33%;
}

.col-row:after {
    content: "";
    display: table;
    clear: both;
}

.skills-container {
    margin: 0 auto;
    width: 70%;
}

/* flipping cards */

.holder {
    backface-visibility: hidden;
    width: 31.33%;
    height: 64px;
    perspective: 700px;
    margin:1%;
}

.card,
.front {

    position: absolute;
    height: inherit;
    width: 100%;
    transition: all .3s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    text-align: center;
    vertical-align: middle;
    line-height: 64px;
    font-size: 20px;

}

.front {
    border-radius: 10px;
    background-color: rgba(250, 220, 218, 0.9);
    color: #313944;
}
.color{
-webkit-animation: background 30s cubic-bezier(1,0,0,1) infinite;
  animation: background 30s cubic-bezier(1,0,0,1) infinite;  
}
@-webkit-keyframes background {
  0% { background-color: rgba(250, 220, 218, 0.9); }
    30% { background-color: #C5E0F5; }  
  33% { background-color: #C5E0F5; }  
  67% { background-color: #99f; }
  100% { background-color: #FDF3E2; }
}

@keyframes background {
  0% { background-color: rgba(250, 220, 218, 0.9); }
    30% { background-color: #C5E0F5; }  
  33% { background-color: #C5E0F5; }  
  67% { background-color: #99f; }
  100% { background-color: #FDF3E2; }
}






/* end flipping cards */

* {
    box-sizing: border-box;
}

li {
    display: inline-block;
}

h1 {
    margin: 0;
}

.col5 {
    flex: 5;
}

.col1 {
    flex: 1;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex {
    display: flex;

}

.container {
    margin: 0 auto;
    width: 100%;
}



/* hero */

.hero {
    background-image: url(back2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    border: 20px solid white;
}

.hero-text {
     width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: white;
    position: absolute;
   

}
.hero-text-center{
    display: table-cell;
    vertical-align: middle;

}


.hero-text-center  h1 {

    font-size: 60px;
    font-weight: 700;
}

.hero-text-center h2 {
    font-size: 25px;
}

.fade {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(80%, rgba(255, 255, 255, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);

}
.terminal-arrow{
    font-size: 60px;
}
.blink {
    font-size: 50px;
  animation: blinker 3s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}


.hero h1,
h2 {
    margin: 0;
}
.resume a{
    text-decoration: none; 
    font-size: 20px;
    color: black;
   
    
}
.resume a:hover{

    transform: scale(1.1);
}
.resume{
    border-radius: 10px;
     background: rgba(104, 85, 182, 0.69);
     width: 100px;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
}
.resume:hover{
    transform: scale(1.1);
}

/* end hero */

/* projects */

#projects {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    z-index: 20;
    position: relative;
    background-color: rgba(104, 181, 228, 0.1);
    border: 20px solid white;

}

#projects h1 {
    padding-bottom: 30px;
     font-family: 'Comfortaa', cursive;
    font-size: 40px;
}
.description{
    padding-left: 20px;
      font-family: 'Comfortaa', cursive;
    font-size: 15px;
}
.description-title{
    font-weight: 700;
    font-size: 18px;
}
.description-list {
    width: 100%;
    padding: 0;
}

.description-list li {
display: block;
padding: 3px;
margin-left: 5px;
}

.languages-used-list {
    padding-left: 0;
    
}

.languages-used-list li {
    background-color: #3B325F;
    padding: 3px;
    color: white;
    margin-bottom: 2px;
    font-size: 12.5px;
}
.divider{
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.divider .fa-code{
    color: #ECDCE7;
}
#projects h1 {
    margin: 0 auto;
    text-align: center;
    z-index: 200;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.project-image {
    margin-right: 30px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.project-image.col1 {
    margin: 0 auto;
}



.project-container {
    padding-bottom: 50px;
    width: 90%;
}

.projects-bttn {
    padding-top: 10px;
    text-align: center;
}
.projects-bttn a{

  padding: 5px;  
}
#projects article:hover{
      background-color: rgba(250, 220, 218, 0.3);
}
#projects a{
    text-decoration: none;
    color: black;
}
#projects a:hover{
    color: #556677;
}

.row {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
    padding-bottom: 10px;
}

.project-title {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 10px;
     font-family: 'Comfortaa', cursive;
    font-size: 25px;
}

/* animated box */

.rightAlign {
    float: right;
}

.leftAlign {
    float: left;
}

.animateBlock {
    display: inline-block;
    opacity: 0;
    filter: alpha(opacity=0);
    position: relative;
    -webkit-transition: all .55s ease-in;
    -moz-transition: all .55s ease-in;
    -ms-transition: all .55s ease-in;
    -o-transition: all .55s ease-in;
    transition: all .55s ease-in;
}

.animateBlock.left {
    left: -100px;
    overflow: hidden;
}

.animateBlock.right {
    right: -100px;
    overflow: hidden;
}


.left.animated {
    left: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
}

.right.animated {
    right: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
}

/* end animated box */

/* end projects */

/* contact */

#contact {
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-bottom: 20px solid white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
background-color: azure;

}

#contact a{
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    
}
#contact a i:hover{
    color: #3A62AD;
      transform: scale(1.1);
}
.copyright-info{
    margin-top: 20px;
}

/* end contact */

#about{
    width: 70%;
    margin: 0 auto;
     text-align: center;
    font-family: 'Comfortaa', cursive;
}
#about h1{
    font-size: 40px;
    padding-bottom: 10px;
}







#skills {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 30px;
    font-family: 'Comfortaa', cursive;
}
#skills h1{
    font-weight: bold;
    font-size: 40px;
}



@media only screen and (max-width: 700px) {
    .flex {
        display: block;
    }
}

/* navigation */

.main_navigation {
    position: fixed;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: 'Comfortaa', cursive;
    
}

.open-nav {
    max-height: 400px !important;
}

.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: rgba(255, 255, 255, 1);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}

.logo {
    width: 80px;
    font-size: 25px;
    color: #556677;
    text-transform: uppercase;
    float: left;
    display: block;
    margin-top: 0;
    text-decoration: none;
}

nav {
    float: right;
    width: 60%;

}


nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
}
nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
    
}
nav ul li:hover{
    transform: scale(1.1);
}

nav ul a {
    color: #556677;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
}

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 0;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@media only screen and (max-width: 766px) {
    .main_navigation {
        padding-top: 25px;
    }
    .logo {
        float: none;
    }
    nav {
        width: 100%;
    }
    nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
    .mobile-toggle {
        display: block;
    }
    .flex {
        flex-flow: column;
    }
}

@media only screen and (max-width: 600px) {
.front{
       font-size: 14px
    }
    .hero-text-center  h1 {

    font-size: 45px;
    font-weight: 700;
}

.hero-text-center h2 {
    font-size: 20px;
}
}
@media only screen and (max-width: 320px) {
    .hero-text-center  h1 {

    font-size: 35px;

}

.hero-text-center h2 {
    font-size: 15px;
}
    .front{
       font-size: 12px
    }
    
}